Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
HTML5/.htaccess
HTML5/AA-RPS.zip
HTML5/HTML5LaunchHelper.exe
HTML5/Readme.txt
HTML5/RockPaperScissors-HTML5-Shipping.css
HTML5/RockPaperScissors-HTML5-Shipping.data
HTML5/RockPaperScissors-HTML5-Shipping.data.js
HTML5/RockPaperScissors-HTML5-Shipping.html
HTML5/RockPaperScissors-HTML5-Shipping.js
HTML5/RockPaperScissors-HTML5-Shipping.UE4.js
HTML5/RockPaperScissors-HTML5-Shipping.wasm
HTML5/RunMacHTML5LaunchHelper.command
HTML5/Utility.js
RockPaperScissors.zip
